apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeSelectors: true
    pairs:
      app: example-fastapi-app

resources:
  - deployment.yaml
  - service.yaml
  - route.yaml
